<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe & the Juice - Team Player Login</title>
    <link rel="stylesheet" href="/static/public/css/employee_login.css">
    <link rel="icon" type="image/png" href="/static/public/pictures/favicon.png">
</head>
<body>
    <header>
        <img id="corner-logo" src="/static/public/pictures/logo.png" alt="Joe & The Juice Logo">
        <h1>Joe Team</h1>
    </header>
    <main>
        <div class="login-container">
            <h2>Team Player Login</h2>
            <form id="employee-login-form">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="employee_register.html">Register here</a></p>
        </div>
    </main>
    <script src="/static/public/js/employee_login.js"></script>
</body>
</html>
