<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Quizzes</title>
    <link rel="stylesheet" href="/static/styles/admin.css">
</head>
<body>
    <div id="header">
        <span id="logged-in-user"></span>
        <button id="logout-button" style="display: none;">Logout</button>
    </div>
    <h1>All Quizzes</h1>
    <div id="quizzes-container">
        <!-- Quizzes will be dynamically loaded here -->
    </div>
    
    <script src="/static/public/js/quiz_all.js"></script>
</body>
</html>
