<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe & the Juice - Start Page</title>
    <link rel="stylesheet" href="/static/public/css/start.css">
    <link rel="icon" type="image/png" href="/static/public/pictures/favicon.png">
</head>
<body>
    <header>
        <img id="corner-logo" src="/static/public/pictures/logo.png" alt="Joe & The Juice Logo">
        <h1>   Joe Team</h1>
    </header>
    <main>
        <div id="logintext">Login</div>
        <section id="role-selection">
            <button id="coach-button">Leader</button>
            <button id="teamplayer-button">Juicer</button>
        </section>
    </main>
    <script src="/static/public/js/start.js"></script>
    <script src="/Static/public/js/cookie.js"></script>
</body>
</html>
