<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joe & the Juice - Start Page</title>
    <link rel="stylesheet" href="/css/start.css">
</head>
<body>
    <main>
        <img id="corner-logo" src="/pictures/logo.png" alt="Joe & The Juice Logo">
        <section id="role-selection">
            <button id="coach-button">I am a Coach</button>
            <button id="teamplayer-button">I am a Team Player</button>
        </section>
    </main>
    <script src="/controllers/start.js"></script>
</body>
</html>
