/*logo */

#corner-logo {
    position: fixed;  /* Gør, at billedet forbliver på plads selv når der scrolles */
    top: 0px;        /* Placer billedet 20px fra toppen af skærmen */
    right: 20px;      /* Placer billedet 20px fra højre side af skærmen */
    width: 100px;     /* Angiv en passende størrelse til billedet */
    z-index: 5000;    /* Sørger for, at billedet ligger øverst i forhold til andre elementer */
}

/* employee */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ecb4d3;
    color: black;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 550;
}

main {
    padding: 20px;
}

section#available-quizzes {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

section#available-quizzes h2 {
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
}

.quiz {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

.quiz h3 {
    margin-top: 0;
}

.quiz button {
    background-color: #d387a5b9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.quiz button:hover {
    background-color: #8f2e55;
}

.quiz-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.question {
    margin-bottom: 15px;
}

.question p {
    margin: 0;
    font-weight: bold;
}

button {
    background-color: #d387a5b9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: #8f2e55;
}

/*rigtigt og forkert svar*/
.feedback {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    animation: fadeInOut 2s ease-in-out;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}