body {
    font-family: 'Arial', sans-serif;
    background-color: #e41919;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



#role-selection {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#role-selection button {
    background-color: #b1587b;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#role-selection button:hover {
    background-color: #e6005c;
}

